$primary: rgb(131, 64, 131);
$secondary: #FFCEAD;
$terciary:rgb(243, 187, 243);
$opcolor: rgb(238, 238, 238);
$gradiente1:linear-gradient(to bottom, #FFF5AB, #FFCEAD);
$gradiente2:linear-gradient(to bottom, #FFCEAD, #FFF5AB);