.row {
    margin: 0;
}

.concurso {
    width: 100%;
    background-image: $gradiente1;
    .concurso__bienvenida {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .concurso__bienvenida--titulo {
            padding: 1em;
            font-size: 1.3em;
            text-align: center;
            font-family: 'Merriweather', serif;
        }
        .concurso__mensaje {
            font-size: 1em;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            padding: 1.5em;
        }
    }
}

.formulario {
    background-image: $gradiente2;
    .formulario__caja {
        background-color: $primary;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
        border: solid black 3px;
        border-radius: 1em;
        .formulario__elementos {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1em;
            label {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                color: $secondary;
            }
        }
    }
}