.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: $primary;
    .footer__bloque {
        display: flex;
        flex-direction: column;
        padding: 2em;
        .footer__envoltorio {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            .footer__titulo {
                padding-right: 0.1em;
                color: $secondary;
            }
        }
        .footer__data {
            color: $secondary;
        }
    }
    .footer__redes {
        width: 10em;
        display: flex;
        flex-direction: row;
        padding: 2em;
        justify-content: space-between;
        .footer__links--fb {
            width: 3em;
            padding: 0;
        }
        .footer__links--ig {
            width: 3em;
            padding: 0;
        }
        .footer__links--tw {
            width: 3em;
            padding: 0;
        }
        .footer__links--wa {
            width: 3em;
            padding: 0;
        }
        .footer__links--yt {
            width: 3.8em;
            padding-top: 0.2em;
        }
    }
}