    .navbar {
        background-color: $primary;
    }
    
    .navbar-brand {
        width: 30%;
        padding-left: 1em;
    }
    
    .botonDropdown {
        font-family: 'Merriweather', serif;
        ;
    }
    
    .navbar-nav {
        padding-left: 10em;
    }
    
    .nav_link {
        text-decoration: none;
        color: wheat;
        padding-bottom: 0.5em;
        padding-top: 1em;
    }