@import "fonts";
@import "colores";
@import "mapas";
@import "mixins";
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import "nav";
@import "estreno";
@import "populares";
@import "postulantes";
@import "exclusivos";
@import "noticias";
@import "reviews";
@import "notacuerpo";
@import "concurso";
@import "nosotros";
@import "stream";
@import "footer";
@import "compra";
@import "compra_check";
@import "404";
@import "mediaqueries";